                



                <div id="text">
                    <h2>Terms of Use</h2> 
                    <p>Edo State Budget Allocation Map application enables you visualize the resource allocation to various Local Government Areas of Edo State. You must understand that these datasets were released from the ministry of Budget and Orientation of the Edo State Government. </p>
                    <p>For errors and modification immediately notify the Open Data Team. The user will be responsible for unauthorized use of any information contrary to the released datasets or visualization or any other breach of security. </p>
                    <p>Edo State Budget Allocation Application cannot and will not be liable for any loss or damage arising from your usage.</p>
                </div>